* { 
  box-sizing: border-box; 
}

body,
html {
  isolation: isolate;
  margin: 0;
  padding: 0;
  /* height: 100dvh; */
  min-height: 100dvh;
  width: 100%;
  /* width: 100dvw;
  min-width: 100dvw; */
}
#root {
  /* height: 100dvh; */
  min-height: 100dvh;
  width: 100%;
  /* width: 100dvw;
  min-width: 100dvw; */
}
